@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: url(Prompt.ttf) format('ttf');
}

@font-face {
  font-family: 'Selawk';
  font-style: normal;
  font-weight: 300;
  src: url(selawk.ttf) format('ttf');
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF9815;
  border-bottom: 1px solid #ddd;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 1.5vw;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu > li {
  float: left;
}

.menu > li a {
  display: block;
  text-align: center;
  padding: 1vw 12vw;
  text-decoration: none;

  color: #FFFFFF;
  font-family: 'Prompt', sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 600px){
  .menu > li {
    font-size: 5vw;
  }

  .menu > li a {
    padding: 1vw 2vw;
  }

  .section {
    min-height: 500px;
    padding-top: 50%;
  }

  #Organized h1 { 
    font-size: 10vw;
    font-weight: bolder;
  }

  #Organized h2 { 
    font-size: 5vw;
  }

  #Organized li {
    font-size: 4vw;
  }

  #Personalized h1 { 
    font-size: 10vw;
    font-weight: bolder;
  }

  #Personalized h2 { 
    font-size: 5vw;
  }

  #Personalized li {
    font-size: 4vw;
  }

  #EasyToUse h1 { 
    font-size: 10vw;
    font-weight: bolder;
  }

  #EasyToUse h2 { 
    font-size: 5vw;
  }

  #EasyToUse li {
    font-size: 4vw;
  }

  #GetTheApp h1 { 
    font-size: 10vw;
    font-weight: bolder;
  }

  #GetTheApp h2 { 
    font-size: 5vw;
  }
}

.get-app {
  list-style-type: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: center;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 7vh;
}

#pics img{
  width: 90vh;
  max-width: 90vw;
}

.section {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-image: url("white4.jpg");
  background-size: cover;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-width: 300px;
}

.section h1 {
  color: #000000;
  font-family: 'Prompt', sans-serif;
  font-weight: bolder;
  
  font-size: 4vw;
}

.section h2 {
  color: #FF9815;
  font-family: 'Selawk', sans-serif;
  font-weight: 400;
  
  font-size: 2vw;
}

.section p {
  color: #2F4F4F;
  font-family: Georgia, "Times New Roman", serif;
}

.section li {
  font-size: 1.8vw;
  text-align: left;
}

.section img {
  max-width: 90vw;
}

#Logo{
  height: 15vh;
}

#GetTheApp{
  background-color: #FFC92F;
  background-position: center;
  background-size: cover;

  padding-top: 5%;
  padding-bottom: 5%;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-width: 500px;

  min-height: 90vh;
}

#GetTheApp h1{
  font-size: 8vh;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: lighter;
}

#GetTheApp h2{
  font-size: 3vh;
  color: #FFFFFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text {
  padding-top: 15%;
  padding-left: 5vw;
  padding-right: 5vw;
}

#Organized img {
  max-width: 50%;
  max-height: 90vh;
}

#Personalized img{
  max-width: 50%;
  max-height: 90vh;
}

#EasyToUse img {
  max-width: 50%;
  max-height: 90vh;
}

.Title{
  padding: 5vw 1vw;
}

.List h2{
  padding-top: 10%;
  color: #000000;
}
